GEMINI_API_KEY=
LOVABLE_API_KEY=
PAYMOB_API_KEY=
PAYMOB_HMAC_SECRET=
PAYMOB_IFRAME_ID=
PAYMOB_INTEGRATION_ID_CARD=
PAYMOB_INTEGRATION_ID_KIOSK=
PAYMOB_INTEGRATION_ID_WALLET=
SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=